BETTER_AUTH_SECRET=secret

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/REDACTED/REDACTED

VITE_TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA

LIBSQL_URL=libsql://REDACTED.turso.io
LIBSQL_SECRET=REDACTED

AUTH_GOOGLE_CLIENT_ID=REDACTED
AUTH_GOOGLE_CLIENT_SECRET=REDACTED

OWNER_EMAIL_ADDRESSES=REDACTED,REDACTED

R2_ACCESS_KEY_ID=REDACTED
R2_ACCOUNT_ID=REDACTED
R2_SECRET_ACCESS_KEY=REDACTED
R2_BUCKET_NAME=REDACTED
CDN_BASE_URL=REDACTED

OUTLINE_API_KEY=REDACTED
OUTLINE_API_BASE=https://app.getoutline.com/api
OUTLINE_COLLECTION_ID=REDACTED

MD_TO_HTML_ENDPOINT=https://md-to-html:8000
MD_TO_HTML_API_KEY=REDACTED

VITE_PUBLIC_POSTHOG_KEY=REDACTED
